.characters-card{
    border: 1px solid var(--light-color);
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
}

.characters-card:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.459);
}

.characters-card-avatar{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    overflow: hidden;
}

.characters-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
}