.characters-card{
    border: 1px solid var(--light-color);
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    backdrop-filter: blur(25px);
}

.characters-card:hover{
    cursor: pointer;
    background: var(--transparent-dark-color)
}

.characters-card-avatar{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    overflow: hidden;
    box-shadow: 0px 4px 9px var(--transparent-dark-color)
}

.characters-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
}

.search-bar{
    border-radius: 10px;
    border: none;
    padding: 12px;
    margin: 20px;
    font-size: 15px;
    font-family: Geologica-Reg;
}

.filter{
    display: flex;
    align-items: flex-end;
}

.select-form{
    font-family: Geologica-Reg;
}