@font-face {
    font-display: swap;
    font-family: 'Geologica-Thin';
    font-style: normal;
    src: url('/assets/fonts/Geologica-Thin.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Geologica-ExtraLight';
    font-style: normal;
    src: url('/assets/fonts/Geologica-ExtraLight.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Geologica-Light';
    font-style: normal;
    src: url('/assets/fonts/Geologica-Light.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Geologica-Reg';
    font-style: normal;
    src: url('/assets/fonts/Geologica-Regular.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Geologica-Med';
    font-style: normal;
    src: url('/assets/fonts/Geologica-Medium.ttf');
}