@import "fonts";
@import "margin";


:root{
    --dark-color: #000000;
    --light-color: #FFFFFF;
    --primary-color: #AE7AFF;
    --transparent-dark-color: rgba(9, 24, 32, 0.45);
    --dark-gray-color: rgb(31,35,39);
}

*,
*:before,
*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Geologica-Reg;
    background: var(--dark-color);
    color: var(--light-color);
    background-image: url(/assets/images/background2.jpg);
    background-size: cover;
    background-attachment:fixed;
}

h3{
    font-family: Geologica-ExtraLight;
}

h4{
    font-family: Geologica-Thin;
}